{% extends "base.html" %}{% block content %}
<div class="list-container">

    <div class="form">
        <h3>Your lists</h3>
        <form class="list-form_ list">
            <input type="text" placeholder="list name" />
            <input type="text" placeholder="list name" />
            <input type="text" placeholder="list name" />
            <input type="text" placeholder="list name" />
            <input type="text" placeholder="list name" />
            <div class="list-buttons">
                <ul>
                    <li>
                        <div class="btn new-list">new list</div>
                    </li>
                    <li>
                        <div class="btn update-list">update list</div>
                    </li>
                    <li>
                        <div class="btn delete-list">delete list</div>
                    </li>
                </ul>
            </div>
            <div class="close-lists">
                <ul>
                    <li>
                        <div class="btn save-lists">save</div>
                    </li>
                    <li>
                        <div class="btn cancel">cancel</div>
                    </li>
                </ul>
            </div>
            <!--<a href="#" class="lists">back to lists</a>-->
        </form>
        <!--<form class="item-form list">
                        <input type="text" placeholder="list name" />
                        <input type="text" placeholder="list name" />
                        <input type="text" placeholder="list name" />
                        <input type="text" placeholder="list name" />
                        <input type="text" placeholder="list name" />
                        <div class="list-buttons">
                            <ul>
                                <li>
                                    <div class="btn update-list">add item</div>
                                </li>
                                <li>
                                    <div class="btn new-list">view items</div>
                                </li>
                                <li>
                                    <div class="btn update-list">update item</div>
                                </li>
                                <li>
                                    <div class="btn delete-list">delete item</div>
                                </li>
                            </ul>
                        </div>
                        <div class="close-lists">
                            <ul>
                                <li>
                                    <div class="btn save-lists">save</div>
                                </li>
                                <li>
                                    <div class="btn cancel">cancel</div>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="lists">back to lists</a>
                    </form>
-->
    </div>



</div>
{% endblock %}