{% extends "base.html" %} {% block content %}
<div class="login-container">
    <div class="form">
        {% if session['logged_in'] %}
        <p>You're logged in already!</p>
        {% else %}
        <p>Welcome to the Bucketlist</p>
        {%endif %}
        <form method="POST" action="/login">

            <input type="username" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Log in">
            <p class="message">Not registered? <a href="/signup" class="account">Create an account</a></p>
        </form>

    </div>
</div>
{% endblock %}